@tailwind base;
@tailwind components;
@tailwind utilities;

.about{
    background: #ecebeb;
}
body {
  /* font-family: "Open Sans", sans-serif; */

}
.header {
  background: url(./assets/back.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 2px;
    display: inline-block;
    background: #1f2df3;
    margin: 4px 10px;
  }
  .section-title p{
    font-size: 40px;
    font-weight: 600;
    background: linear-gradient(90deg, hwb(229 37% 0%), #c2138d); /* Gradient colors */
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
  }
  ion-icon {
    font-size: 30px;
  }

  /* resume ------------------- */
  .resume {
    padding-top: 100px;
    /* background: #dddcdc; */
  }
  .resume-title  h2::after {
    content: "";
    width: 120px;
    height: 2px;
    display: inline-block;
    background: #1f2df3;
    margin: 4px 10px;
  }
  .resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050505;
  }
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1725ec33;
    position: relative;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #2f3be4;
    margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    background: rgba(54, 54, 54, 0.15);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .resume .resume-item ul {
    padding-left: 20px;
  }
  
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #184de0;
    border: 2px solid #184de0;
  }
  
  /* resume  end ------------------- */


  /* services  end ------------------- */
  .services .icon-box {
    text-align: center;
    background: rgba(39, 38, 38, 0.1);
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
  }
  
  .services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #18d26e;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
  }
  
  .services .icon-box .icon i {
    color: #fff;
    font-size: 28px;
  }
  
  .services .icon-box .icon::before {
    position: absolute;
    content: "";
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: rgba(51, 51, 51, 0.15);
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
  }
  
  .services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services .icon-box h4 a {
    color: #000000;
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    background: #18d26e;
    border-color: #18d26e;
  }
  
  .services .icon-box:hover .icon {
    background: #fff;
  }
  
  .services .icon-box:hover .icon i {
    color: #18d26e;
  }
  
  .services .icon-box:hover .icon::before {
    background: #35e888;
  }
  
  .services .icon-box:hover h4 a,
  .services .icon-box:hover p {
    color: #fff;
  }
  
  
  /* services  end ------------------- */





/* -------------------------------------------------------------- */
.contact .info-box {
  color: #000000;
  padding: 20px;
  width: 100%;
  background: #00000014;
  border: 1px solid #bbb6b6;
  border-radius: 5px
  
}

.contact .info-box .icon {
  font-size: 15px;
  color: #1b18d2;
  border-radius: 50%;
  float: left;
  background: #0000001a;
  padding-top: 10px;
}

.contact .info-box h3 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 50px;
}

.contact .info-box p {
  padding: 0;
  color: #202020;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 50px;
}

.contact .info-box .social-links {
  margin: 1px 0 0 40px;
  display: flex;
  overflow: hidden;
}

.contact .info-box .social-links a {
  font-size: 15px;
  display: inline-block;
  color: #000000;
  line-height: 1;
  margin-right: 10px;
  transition: 0.3s;
}

.contact .info-box .social-links a:hover {
  color: #eb098d;
}

.contact .php-email-form {
  padding: 30px;
  background: rgba(255, 255, 255, 0.08);
}

.contact .php-email-form .error-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}
.contact form button {
  border: 2px solid transparent;
}
.contact form button:hover {
 border: 2px solid #949393;
 background: #0918eb;
 color: white;
}








.contact .php-email-form button[type=submit] {
  background: #18d26e;
  border: 0;
  padding: 10px 30px;
  color: #141414;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #15bb62;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

